.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a {
  text-decoration: none;
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-header-container {
  background-color: #ffc723;
  width: 100%;
  height: 9rem;
  display: flex;
}

.doge-logo {
  height: 100%;
}

.App-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.all-dog-breeds-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.dog-breed-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  border: 1px solid red;
  width: 25%;
}

.subbreed {
  display: flex;
  border: 1px solid blue;
}
